*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.debug{
    border: 1px dashed black;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.container{
    max-width:1180px ;
    margin: auto;
}

.justify-between{
    justify-content: space-between;
}


header{
    background-color: #FF6900;
}

.menù{
    margin: auto 0;
}

.menù a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.logo{
    width: 200px;
    padding: 15px 0;
}

.icon{
    margin: auto 0;
}

.icon > i{
    color: white;
    padding: 0 5px;
}
 
.card {
    max-width: calc(100% / 3);
}

.card-media{
    position: relative;
}

.discount-price{
    font-weight: bold;
    color: red;
}

.price{
    text-decoration: line-through;
}

.discount{
    position: absolute;
    left: 0;
    bottom: 40px;
    background-color: red;
    padding: 5px 10px;
    color: white;
}

.sustainability{
    position: absolute;
    left: 60px;
    bottom: 40px;
    background-color: green;
    padding: 5px 10px;
    color: white;
}

.hearts{
    position: absolute;
    right: 0;
    top: 15px;
    background-color: white;
    padding: 0 10px;
    font-size: 25px;

}